html{	border:0px dotted red;}
body{background-color: ;
      border:0px solid green;
      margin:0;
      }
span{
  color: green;
}
.logo{
  float: left;
  font-family: arial;
  margin-bottom: 10px;

}
.menu{
  float: left;
}
.menu>li>a {
  font-family: arial;
  border: 1px;
  color: grey;
  text-decoration: none;
  text-transform: uppercase;
  float: left;
  margin: 10px;



}
.menu>li>a:hover {
  font-family: arial;
  border: 1px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
.menu>li {
  text-decoration: none;
  text-transform: uppercase;
display:inline ;
}
.become{
  display: inline-block;
  border: 3px solid green;
  background: green;
  color: white;
  border-radius: 10px;
  padding: 5px;
float: left;
margin-top: 15px;
text-transform: uppercase;
font-family: arial;
}
.slide{
background: url('UNICEF-football.jpg');
background-repeat: no-repeat;
clear:both;
min-height: 500px;
}
.cadre{
  border: 0px solid black;
width: 385px;
float: left;
background: white;
margin-top: 10px;
margin-left: 30px;
}
.bouton_vert {
  background-color: green;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 125px;
  width: 110px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px
}
        .textegras1 {
          background: grey;
font-family: arial;
width: 90px;

      }
      .textegras2 {
        background: grey;
        width: 190px;
        font-family: arial;
        margin-left: auto;
        margin-right: auto;
}
h3{
  font-family: arial;
  text-align: center;
}
.image1{
  width: 200px;
}
.image2{
  width: 200px;
}
.image3{
  width: 200px;
}
.prix>td {
  border-top: 1px solid;
  border-left: 1px solid;
}
.bas1 {
  border: 1px;
  float: left;;
  text-align: center;
  width: 300px;
}
.bas2 {
  float: left;
  text-align: center;
  width: 300px;
}
.bas3 {
  float: left;
  text-align: center;
  width: 300px;
}
.raised {
float:left;
border-top: 1px solid grey;
border-right: 1px solid grey;
  margin-left: 125px;
  text-transform: uppercase;
  font-weight: bold;


}

.raised1 {
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: bold;

}
.goal {
  float:left;
  border-top: 1px solid grey;
  text-transform: uppercase;
}
.goal1 {
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
.dollar {
  margin-right: 10px;
    color: green;
}
.dollar1 {
  margin-left: 10px;
}


footer {
  margin-top: 100px;
}
